* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: #efedec;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 256px;
}

.logo:hover {
  transform: scale(1.05);
  transition: 0.9s ease-in;
}

.conversor {
  width: 375px;
  height: 750px;
  border: none;
  border-radius: 20px;
  background-color: #efedec;
}

/* Containeres de Moedas */

#selectCurrency1,
#selectCurrency2 {
  width: 315px;
  height: 40px;
  border-radius: 15px;
  color: #666666;

  font-weight: 700;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.converterPara,
.converterDe {
  background-color: #5460ba19;
  width: 327px;
  height: 72px;
  border-radius: 15px;
  color: #666666;
  margin: 24px 0px 0px 24px;
  padding: 5px;
  font-weight: 700;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

select {
  appearance: none;
}

/* End */

.valorFinal {
  background-color: #5460ba19;
  width: 327px;
  height: 72px;
  border-radius: 15px;
  color: #bbbbbb;
  margin: 44px 0px 0px 24px;
}

#valorLbl {
  background-color: #5460ba19;
}

.btn-converter {
  background-color: #484848;
  width: 327px;
  height: 72px;
  border: 1px solid;
  border-radius: 20px;
  color: #bbbbbb;
  margin: 24px 0px 0px 24px;
  box-shadow: 2px 2px 10px 2px;
  font-weight: 600;
  font-size: 18px;
}

#btn-converter-txt {
  color: #ffffff;
}

.btn-converter:hover {
  background-color: #888888;
  transform: scale(1.05);
  transition: ease-in 0.4s;
}

.btn-converter:active {
  background-color: #2a2a2a;
  transition: ease-in 0.2s;
}
.container-valor-convertido {
  width: 327px;
  height: 276px;
  border: none;
  margin: 36px 24px 24px 24px;
  border-radius: 20px;
  background-color: #5460ba19;
  color: #38383856;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Valor1,
#Valor2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #4b4b4b;
}

.valor-convertido {
  width: 127px;
  height: 251px;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Container da Bandeira e valores */
.valor {
  width: 80px;
  height: 90px;
  color: #772fd3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labelValue {
  color: #000000;
  font-size: 18px;
}

label {
  color: #777777;
}

.bandeira1:hover,
.bandeira2:hover {
  transform: scale(1.2);
  transition: ease-in 0.5s;
}

.bandeira1,
.bandeira2 {
  transform: scale(0.8);
}

/* End */

/* Containeres das Bandeiras */

#converter-from {
  width: 324px;
  height: 50px;
}

#converter-to {
  width: 324px;
  height: 50px;
}

#arrow {
  margin: 10px 0px 10px 0px;
  font-size: 32px;
}

#Valorlbl1,
#Valorlbl2 {
  text-align: center;
  font-weight: 600;
}

.display {
  width: 300px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  margin-left: 10px;
  padding: 2px 0px, 0px 5px;
  border-radius: 5px;
  outline: none;
  appearance: none;
  color: #515151;
}

#ValorConvertido {
  text-align: center;
  background-color: #2c2c2c4e;
}
/* End */

/* RESPONSIVIDADE */
@media (max-width: 420px) {
}
